.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  outline: none;
  padding: 40px 20px;
  width: 500px;
  height: 600px;
  z-index: 10;
  box-shadow: 1px 1px 3px 0px #ced4da;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: #868e96;
}
@media screen and (max-width: 768px) {
  .Modal {
    width: 70%;
  }
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.15);
}

.input {
  background: rgba(255, 255, 255, 0);
  width: 100%;
  height: 30px;
  border: 0px;
  outline: none;
  border-radius: 10px;
  padding: 5px;
  color: #868e96;
  font-size: 16px;
}
.input:hover {
  background: rgba(0, 0, 0, 0.05);
}

.title {
  font-size: 32px;
}

.infoTitle {
  height: 30px;
  padding: 5px;
  color: #868e96;
  font-size: 16px;
  line-height: 30px;
}
.content {
  font-size: 18px;
  padding: 30px 10px;
  border: 0px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0);
  outline: none;
  width: 100%;
  height: 300px;
  overflow-y: auto;
  color: #868e96;
}
.selectBox {
  width: 100%;
  color: #868e96;
  font-size: 16px;
  padding: 8px 5px;
  border: 0px;
  outline: none;
  background: url('../../image/arrow.jpg') no-repeat 95% 50%;
  border-radius: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
.selectBox:hover {
  background: rgba(0, 0, 0, 0.05);
}
