.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  outline: none;
  padding: 40px 20px;
  width: 500px;
  height: 600px;
  z-index: 10;
  box-shadow: 1px 1px 3px 0px #ced4da;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: #868e96;
}
@media screen and (max-width: 768px) {
  .Modal {
    width: 70%;
  }
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.15);
}
